node_modules
npm-debug.log
yarn.lock
package-lock.json
*data.json
*data*
!docs/**
*.db
.idea/
*.bak
*.new
*.log
v8.json
*.DS_store
isolate*.log
.esm-cache
.sessionStorage
.localStorage
temp/
tmp/
.well-known/
playwright-report/
test-results/
